<main class="pt-[62px]">
  <div class="flex gap-4 items-center">
    <div class="h-10 w-5 bg-[#DB4444] rounded-sm"></div>
    <h3 class="font-semibold text-base/normal text-[#DB4444]">Featured</h3>
  </div>
  <div class="flex pt-5 pb-[60px] justify-between">
    <h2 class="font-semibold text-4xl">New Arrival</h2>
  </div>
  <div class="flex gap-[30px]">
    <div class="bg-black w-[570px] h-[600px] relative rounded-sm">
      <img
        src="/images/Frame 684.png"
        alt=""
        width="511"
        height="511"
        class="absolute bottom-0 right-[30px] max-w-[511px] max-h-[511px] object-contain"
      />
      <div
        class="flex flex-col gap-4 text-[#FAFAFA] absolute bottom-8 left-8 w-[242px]"
      >
        <h4 class="font-semibold text-2xl leading-6 tracking-tighter">
          PlayStation 5
        </h4>
        <div class="text-sm leading-[21px]">
          Black and White version of the PS5 coming out on sale.
        </div>
        <div class="text-base leading-6 underline cursor-pointer">Shop Now</div>
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <div class="bg-black w-[570px] h-[284px] rounded-sm relative">
        <img
          src="/images/attractive-woman-wearing-hat-posing-black-background 1.png"
          alt=""
          width="432"
          height="286"
          class="absolute right-0 max-w-[432px] max-h-[286px] object-contain"
        />
        <div
          class="flex flex-col gap-4 text-[#FAFAFA] absolute bottom-8 left-8 w-[255px]"
        >
          <h4 class="font-semibold text-2xl leading-6 tracking-tighter">
            Women’s Collections
          </h4>
          <div class="text-sm leading-[21px]">
            Featured woman collections that give you another vibe.
          </div>
          <div class="text-base leading-6 underline cursor-pointer">Shop Now</div>
        </div>
      </div>
      <div class="flex gap-[30px]">
        <div
          class="flex items-center justify-center bg-black w-[270px] h-[284px] rounded-sm relative"
        >
          <div
            class="bg-[#D9D9D9] w-[196px] h-[196px] rounded-full blur-[160px]"
          ></div>
          <img
            src="/images/69-694768_amazon-echo-png-clipart-transparent-amazon-echo-png 1.png"
            alt=""
            width="190"
            height="221"
            class="absolute max-w-[190px] max-h-[221px] object-contain"
          />
          <div
            class="flex flex-col gap-4 text-[#FAFAFA] absolute bottom-8 left-8 w-[191px]"
          >
            <h4 class="font-semibold text-2xl leading-6 tracking-tighter">
              Speakers
            </h4>
            <div class="text-sm leading-[21px]">Amazon wireless speakers</div>
            <div class="text-base leading-6 underline cursor-pointer">Shop Now</div>
          </div>
        </div>
        <div
          class="flex items-center justify-center bg-black w-[270px] h-[284px] rounded-sm relative"
        >
          <div
            class="bg-[#D9D9D9] w-[238px] h-[238px] rounded-full blur-[170px]"
          ></div>
          <img
            src="/images/perfume.png"
            alt=""
            width="201"
            height="203"
            class="absolute max-w-[201px] max-h-[203px] object-contain"
          />
          <div
            class="flex flex-col gap-4 text-[#FAFAFA] absolute bottom-8 left-8 w-[191px]"
          >
            <h4 class="font-semibold text-2xl leading-6 tracking-tighter">
              Perfume
            </h4>
            <div class="text-sm leading-[21px]">GUCCI INTENSE OUD EDP</div>
            <div class="text-base leading-6 underline cursor-pointer">Shop Now</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
