<main class="flex gap-[88px]">
    <div class="flex flex-col gap-6 items-center justify-center w-[249px] h-[161px]">
        <div class="flex items-center justify-center border-gray-300 border-[10px] bg-black w-[80px] h-[80px] rounded-full">
            <img src="/icons/icon-delivery.svg" alt="" width="40" height="40">
        </div>
        <div class="flex flex-col gap-2 justify-center items-center h-[57px]">
            <div class="text-[19px] font-semibold leading-7">FREE AND FAST DELIVERY</div>
            <div class="text-sm leading-[21px]">Free delivery for all orders over $140</div>
        </div>
    </div>
    <div class="flex flex-col gap-6 items-center justify-center w-[249px] h-[161px]">
        <div class="flex items-center justify-center border-gray-300 border-[10px] bg-black w-[80px] h-[80px] rounded-full">
            <img src="/icons/Icon-Customer service.svg" alt="" width="40" height="40">
        </div>
        <div class="flex flex-col gap-2 justify-center items-center h-[57px]">
            <div class="text-[19px] font-semibold leading-7">24/7 CUSTOMER SERVICE</div>
            <div class="text-sm leading-[21px]">Friendly 24/7 customer support</div>
        </div>
    </div>
    <div class="flex flex-col gap-6 items-center justify-center w-[256px] h-[161px]">
        <div class="flex items-center justify-center border-gray-300 border-[10px] bg-black w-[80px] h-[80px] rounded-full">
            <img src="/icons/Icon-secure.svg" alt="" width="40" height="40">
        </div>
        <div class="flex flex-col gap-2 justify-center items-center h-[57px]">
            <div class="text-[19px] font-semibold leading-7">MONEY BACK GUARANTEE</div>
            <div class="text-sm leading-[21px]">We reurn money within 30 days</div>
        </div>
    </div>
</main>
