<main>
  <section class="flex gap-5">
    @for(category of categories; track category.id){
    <div
      (click)="goToCategory(category.id)"
      class="border border-gray-300 rounded-sm w-1/6 h-36 flex flex-col items-center justify-center cursor-pointer transition-all duration-200 hover:shadow-md hover:scale-105 hover:bg-red-400 hover:border-red-700"
    >
      <img
        class="w-16 h-16 object-cover rounded"
        [src]="category.image"
        [alt]="category.name"
      />
      <div class="pt-4">{{ category.name }}</div>
    </div>
    }
  </section>
</main>
