<!-- Top bar -->
<section class="bg-black text-white text-sm relative">
  <div class="flex justify-center items-center h-12">
    <p class="text-center text-normal">
      Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
      <span class="font-bold underline pl-2 cursor-pointer">ShopNow</span>
    </p>
  </div>
  <div
    class="absolute right-40 top-1/2 p-3.5 -translate-y-1/2 flex items-center space-x-1 cursor-pointer"
  >
    <span>English</span>
    <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      />
    </svg>
  </div>
</section>

<!-- Main Header -->
<main class="border-b border-gray-200">
  <section
    class="max-w-6xl mx-auto flex justify-between items-center pt-10 pb-4"
  >
    <a href="/" class="text-2xl/normal font-bold select-none">Exclusive</a>
    <nav>
      <ul class="flex justify-between items-center gap-12">
        <li class="p-2">
          <a href="/" class="hover:border-b-[1px] border-gray-400 pb-0.5"
            >Home</a
          >
        </li>
        <li class="p-2">
          <a href="/contact" class="hover:border-b-[1px] border-gray-400 pb-0.5"
            >Contact</a
          >
        </li>
        <li class="p-2">
          <a href="/about" class="hover:border-b-[1px] border-gray-400 pb-0.5"
            >About</a
          >
        </li>
        <li class="p-2">
          <a href="/signup" class="hover:border-b-[1px] border-gray-400 pb-0.5"
            >Sign Up</a
          >
        </li>
      </ul>
    </nav>
    <div class="flex items-center space-x-4">
      <section
        class="flex items-center justify-between border-none rounded-b-sm py-1.5 pl-5 pr-1.5 bg-[#F5F5F5]"
      >
        <input
          type="text"
          placeholder="What are you looking for?"
          class="outline-none text-sm placeholder-gray-400"
        />
        <img
          src="/icons/search-icon.svg"
          alt="search-icon"
          class="cursor-pointer"
          width="24"
          height="24"
        />
      </section>
      <section class="flex gap-4">
        <figure>
          <img
            class="cursor-pointer"
            src="/icons/wishlist-icon.svg"
            alt="wishlist-icon"
            height="32"
            width="32"
          />
        </figure>
        <figure>
          <img
            class="cursor-pointer"
            src="/icons/cart-icon.svg"
            alt="cart-icon"
            height="32"
            width="32"
          />
        </figure>
        <figure>
          <img
            class="cursor-pointer"
            src="/icons/user.svg"
            alt="user-icon"
            height="32"
            width="32"
          />
        </figure>
      </section>
    </div>
  </section>
</main>
