<footer class="bg-black text-white">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-8 max-w-6xl mx-auto pt-20"
  >
    <!-- Exclusive -->
    <div>
      <h2 class="text-xl font-semibold mb-4">Exclusive</h2>
      <p class="mb-2 font-medium">Subscribe</p>
      <p class="text-sm mb-4">Get 10% off your first order</p>
      <div
        class="flex items-center bg-black rounded border-[1px] border-white px-3 py-2"
      >
        <input
          type="text"
          placeholder="Enter your email"
          class="w-full text-white outline-none text-sm placeholder-gray-400"
        />
        <figure>
          <img
            class="cursor-pointer"
            src="/icons/icon-send.svg"
            alt="user-icon"
            height="24"
            width="24"
          />
        </figure>
      </div>
    </div>
    <!-- Support -->
    <div>
      <h2 class="text-xl font-semibold mb-4">Support</h2>
      <p class="text-sm">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
      <p class="text-sm mt-2">exclusive&#64;gmail.com</p>
      <p class="text-sm mt-2">+88015-88888-9999</p>
    </div>
    <!-- Account -->
    <div>
      <h2 class="text-xl font-semibold mb-4">Account</h2>
      <ul class="space-y-2 text-sm">
        <li><a href="#">My Account</a></li>
        <li><a href="#">Login / Register</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="#">Wishlist</a></li>
        <li><a href="#">Shop</a></li>
      </ul>
    </div>
    <!-- Quick Link -->
    <div>
      <h2 class="text-xl font-semibold mb-4">Quick Link</h2>
      <ul class="space-y-2 text-sm">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms Of Use</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- Download App -->
    <div>
      <h2 class="text-xl font-semibold mb-4">Download App</h2>
      <p class="text-sm mb-2">Save $3 with App New User Only</p>
      <div class="flex space-x-2 mb-4">
        <img
          src="/images/qr-footer.svg"
          alt="QR Code"
          class="w-20 h-20 bg-white"
        />
        <div class="flex flex-col justify-center space-y-2">
          <img src="/images/ch-play.png" alt="Google Play" class="w-28" />
          <img src="/images/app-store.png" alt="App Store" class="w-28" />
        </div>
      </div>
      <div class="flex space-x-4 mt-2 text-xl">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div
    class="mt-10 border-t border-gray-700 pt-4 pb-6 text-center text-sm text-gray-400"
  >
    © Copyright by Pham Thi Phuong Anh PH44915
  </div>
</footer>
