<h1 class="text-2xl font-bold mb-4">Cập nhật danh mục</h1>

<form
  class="flex flex-col gap-4 [&_input]:border [&_input]:rounded [&_input]:p-2 [&_span]:text-red-600 max-w-md"
  [formGroup]="categoryForm"
  (ngSubmit)="onSubmit()"
>
  <!-- Tên -->
  <div>
    <input
      type="text"
      formControlName="name"
      placeholder="Tên danh mục"
      class="w-full"
    />
    @if (!categoryForm.controls.name.valid && (categoryForm.controls.name.dirty
    || categoryForm.controls.name.touched)) {
    <span>Tên danh mục không hợp lệ</span>
    }
  </div>

  <!-- Ảnh -->
  <div>
    <input
      type="text"
      formControlName="image"
      placeholder="Link ảnh"
      class="w-full"
    />
    @if (!categoryForm.controls.image.valid &&
    (categoryForm.controls.image.dirty || categoryForm.controls.image.touched))
    {
    <span>Ảnh không được để trống</span>
    }
  </div>

  <!-- Mô tả -->
  <div>
    <input
      type="text"
      formControlName="description"
      placeholder="Mô tả (tùy chọn)"
      class="w-full"
    />
  </div>

  <button
    [disabled]="!categoryForm.valid"
    class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 disabled:opacity-50"
  >
    Cập nhật
  </button>
</form>
