<section
  class="flex items-center justify-center bg-black border-black h-[500px]"
>
  <div class="flex flex-col gap-[32px]">
    <div class="text-[#00FF66] font-semibold text-base">Categories</div>
    <div
      class="text-[#FAFAFA] font-semibold text-5xl w-[443px] tracking-wide leading-[60px]"
    >
      Enhance Your Music Experience
    </div>
    <div class="flex justify-between w-[320px]">
      <div
        class="flex flex-col items-center justify-center border-white bg-white rounded-full w-[62px] h-[62px]"
      >
        <div class="font-semibold text-base leading-5">23</div>
        <div class="text-xs leading-[18px]">Hours</div>
      </div>
      <div
        class="flex flex-col items-center justify-center border-white bg-white rounded-full w-[62px] h-[62px]"
      >
        <div class="font-semibold text-base leading-5">05</div>
        <div class="text-xs leading-[18px]">Days</div>
      </div>
      <div
        class="flex flex-col items-center justify-center border-white bg-white rounded-full w-[62px] h-[62px]"
      >
        <div class="font-semibold text-base leading-5">59</div>
        <div class="text-xs leading-[18px]">Minutes</div>
      </div>
      <div
        class="flex flex-col items-center justify-center border-white bg-white rounded-full w-[62px] h-[62px]"
      >
        <div class="font-semibold text-base leading-5">35</div>
        <div class="text-xs leading-[18px]">Seconds</div>
      </div>
    </div>
    <div
      class="flex items-center justify-center border-[#00FF66] bg-[#00FF66] rounded-sm w-[171px] h-[56px] text-white font-medium text-base leading-6 cursor-pointer"
    >
      Buy Now!
    </div>
  </div>
  <div class="flex items-center justify-center w-[600px] h-[420px] relative">
    <div
      class="bg-[#D9D9D9] w-[400px] h-[400px] rounded-full blur-[200px]"
    ></div>
    <img
      src="/images/bombox.png"
      alt=""
      width="568"
      height="330"
      class="max-w-[568px] max-h-[330px] object-cover absolute"
    />
  </div>
</section>
